body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
}

/* LINKS */

a:link, a:visited {
    color: #447e9b;
    text-decoration: none;
}

a:focus, a:hover {
    color: #036;
}

a:focus {
    text-decoration: underline;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: #fff;
    text-decoration: none;
}

a.section:focus, a.section:hover {
    text-decoration: underline;
}

#container {
    min-width: 550px;
    margin-right: 450px;
    margin-left: 450px;
    margin-top: 100px;
    display: grid;
    box-shadow: 0 0 30px 0  grey;
}

#hAddClient {
    background-color: #447e9b;
    color: #cccccc;
    text-align: center;
}

.createUserForm {
    margin: 50px;
    text-align: end;

}

#is_created {
    text-align: center;
}

.linksMenu {
    text-align: center;
    margin: 10px;
}
